/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.*
/configure.scan
/depcomp
/.deps/
/backup
/backup.plist/
/backup.t2t
/cleanup
/cleanup.plist/
/cleanup.t2t
/bulogrot
/bulogrot.plist/
/bulogrot.t2t
/decruft
/decruft.plist/
/decruft.t2t
/Makefile
/missing
/stamp-h1
/test*

