/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/.deps/
/backup
/backup.plist/
/backup.t2t
/bulogrot
/bulogrot.plist/
/bulogrot.t2t
/cleanup
/cleanup.plist/
/cleanup.t2t
/decruft
/decruft.plist/
/decruft.t2t
/Makefile
/stamp-h1
/test*
